@page "/settings"
@inject StateContainer StateContainer
@implements IAsyncDisposable
<h2>Settings</h2>

@* <h3>Theme</h3> *@
@* <RadzenRadioButtonList @bind-Value="@SelectedTheme" TValue="Theme" Orientation="Orientation.Vertical" Change="@OnChange"> *@
@*     <Items> *@
@*         <RadzenRadioButtonListItem Text="Automatic" Value="@(Theme.Automatic)" /> *@
@*         <RadzenRadioButtonListItem Text="Dark" Value="@(Theme.Dark)" /> *@
@*         <RadzenRadioButtonListItem Text="Light" Value="@(Theme.Light)" /> *@
@*     </Items> *@
@* </RadzenRadioButtonList> *@
<RadzenButton Icon="delete_forever" Text="Delete Notes" Click="OnClickDeleteNotes"/>

@code {

    private async Task OnClickDeleteNotes()
    {
        StateContainer.Notes = new List<TodoItem>();
        await StateContainer.PushNotes();
    }

    protected override void OnInitialized()
    {
        StateContainer.PullNotes();
    }

    public async ValueTask DisposeAsync()
    {
        await StateContainer.PushNotes();
    }

}