nav {
    background: #eeeeee;
    display: flex;
    flex-direction: row;
}

::deep a.nav-link {
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem;
    background: #eeeeee;
    color: black;
    display: inline-block;
}

::deep a.nav-link.active {
    background-color: #cccccc;
    color: black;
}

::deep a.nav-link:hover {
    background-color: #bbbbbb;
    color: black;
}

::deep i {
    vertical-align: middle;
}