﻿<nav>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <RadzenIcon Icon="home"/> Home
    </NavLink>
    <NavLink class="nav-link" href="settings">
        <RadzenIcon Icon="settings"/> Settings
    </NavLink>
</nav>

@code {
}
