::deep .tree-header {
    padding: 5px;
    width: 50em;
}

::deep .tree-header.hidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

::deep .tree-collapse-button {
    display: inline-block;
    cursor: pointer;
}

::deep i {
    vertical-align: middle;
}

::deep .rz-progressbar {
    vertical-align: middle;
}

::deep .tree-task-progress-bar {
    width: 5rem;
    display: inline-block;
}

::deep .tree-children {
    margin-left: 1.5rem;
}

::deep .tree-children.hidden {
    display: none;
}
